.main{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#search-box{
    height: 50px;
    width: 500px;
    border: 1px solid black;
    font-size: 10px;
    padding-left: 10px;
}

#search-btn{
    height: 52px;
    width: 80px;
}